<%- include("partials/header")%>

  
<!--Mobile view-->
<div class="row pt-3">
  <div class="col pl-60">

     <div class="mobile-wrapper">
     
       <!--======= Header =======-->
     
      <!-- <header class="header">
          <div class="container">
             <span>Welcome Back!</span>
             <h1>Calendar Plan</h1>
        
             <div class="menu-toggle">
                <div>
                   <span></span>
                   <span></span>
                   <span></span>
                </div>
             </div>
          </div>
       </header>
     -->
       <!--======= Today =======-->
    
       <section class="today-box" id="today-box">
          <!--<span class="breadcrumb">Today</span>-->
          <% 
            var title= new Date();
            title = title.toLocaleDateString(undefined, {month:'short'}) + ' ' + title.toLocaleDateString(undefined, {day:'2-digit'}) + ',' + title.toLocaleDateString(undefined, {year:'numeric'})
          %>
          <h3 class="date-title"><%=title%></h3>
     
          <!--<div class="plus-icon">
             <i class="ion ion-ios-add"></i>
          </div>-->
       </section>
    
       <!--======= Upcoming Events =======-->
    
       <section class="upcoming-events">
          <div class="container">
             <h3>
                Lastest Events
           
             </h3>
             <div class="events-wrapper">
                <% tasks.forEach((data)=>{ %>
                  <% var date = data.start.toISOString();
                     var content = date.slice(date.indexOf("T")+1, 16);%>
               <div class="event">
                 <i class="ion ion-ios-flame hot"></i>
                 <h4 class="event__point"><%=content%></h4>
                 <p class="event__description">
                  <%=data.description%>
                 </p>
               </div>
               <% }); %>
            </div>
             <button class="add-event-button">
                <span class="add-event-button__title">Add Event</span>
           
                <span class="add-event-button__icon">
                   <i class="ion ion-ios-star-outline"></i>
                </span> 
             
             
             </button>
          </div>
       </section>
     </div>
  </div>


<!-- Calendar -->
  <div class="col-9 pr-20">
     <!--<div class="p-5">-->
     <!--    <h2 class="mb-4">Full Calendar</h2> -->
         <div class="card">
           <div class="card-body p-0">
             <div id="calendar"></div>
           </div>
         </div>
     <!--</div>-->
  </div>
</div>
 
 <!-- calendar modal -->
 <div id="modal-view-event" class="modal modal-top fade calendar-modal">
         <div class="modal-dialog modal-dialog-centered">
             <div class="modal-content">
                 <div class="modal-body">
                     <h4 class="modal-title"><span class="event-icon"></span><span class="event-title"></span></h4>
                     <div class="event-body"></div>
                 </div>
                 <div class="user-id" style="display: none;"></div>
                 <div class="modal-id" style="display: none;"></div>
                 <div class="modal-footer">
                   <div id="private" style="display: none;">
                    <a class="btn btn-warning" id="edit" href="">Edit</a>
                    <form class="delete-form" action="/event/delete/?_method=DELETE" method="POST">
                      <button  class="btn btn-danger">
                        Delete
                      </button>
                    </form>
                    </div>
                     <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                 </div>
             </div>
         </div>
     </div>
 
 <div id="modal-view-event-add" class="modal modal-top fade calendar-modal">
   <div class="modal-dialog modal-dialog-centered">
     <div class="modal-content">
       <form id="add-event" action="/event/<%=userid%>" method="POST">
         <div class="modal-body">
         <h4>Add Event Detail</h4>        
           <div class="form-group">
             <label>Event name</label>
             <input type="text" class="form-control" name="ename">
           </div>
           <div class="form-group">
             <label>Event Date</label>
             <input type='text' class="datetimepicker form-control" name="edate">
           </div>        
           <div class="form-group">
             <label>Event Description</label>
             <textarea class="form-control" name="edesc"></textarea>
           </div>
           <div class="form-group">
             <label>Event Color</label>
             <select class="form-control" name="ecolor">
               <option value="fc-bg-default">fc-bg-default</option>
               <option value="fc-bg-blue">fc-bg-blue</option>
               <option value="fc-bg-lightgreen">fc-bg-lightgreen</option>
               <option value="fc-bg-pinkred">fc-bg-pinkred</option>
               <option value="fc-bg-deepskyblue">fc-bg-deepskyblue</option>
             </select>
           </div>
           <div class="form-group">
             <label>Event Icon</label>
             <select class="form-control" name="eicon">
               <option value="circle">circle</option>
               <option value="cog">cog</option>
               <option value="group">group</option>
               <option value="suitcase">suitcase</option>
               <option value="calendar">calendar</option>
             </select>
           </div>        
       </div>
         <div class="modal-footer">
         <button type="submit" class="btn btn-primary" >Save</button>
         <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>        
       </div>
       </form>
     </div>
   </div>
 </div>


 <div id="modal-view-event-add-1" class="modal modal-top fade calendar-modal">
   <div class="modal-dialog modal-dialog-centered">
     <div class="modal-content">
       <form id="add-event" action="/find" method="POST">
         <div class="modal-body">
         <h4>Search Person On Time</h4>        
           <div class="form-group">
             <label>Event Date</label>
             <input type='text' class="datetimepicker form-control" name="edate">
           </div>               
       </div>
         <div class="modal-footer">
         <button type="submit" class="btn btn-primary" >Save</button>
         <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>        
       </div>
       </form>
     </div>
   </div>
 </div>
 <div id="modal-view-event-add-2" class="modal modal-top fade calendar-modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form id="add-event" action="/find" method="POST">
        <div class="modal-body">
        <h4>Search Person</h4>        
          <div class="form-group">
            <label>Enter Name</label>
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
            <ul id="myUL">
              <% people.forEach((users)=>{ %>
                <%if(!users._id.equals(currentUser._id)){%>
              <li><a href="/user/<%=users._id%>"><%= users.username %></a></li>
              <%}%>
              <% }) %>
            </ul>
          </div>               
      </div>
        <div class="modal-footer">
        <button type="submit" class="btn btn-primary" >Save</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>        
      </div>
      </form>
    </div>
  </div>
</div>
<%- include("partials/footer")%>
<%- include("partials/data")%>
</body>

</html>
  
